.estimated-delivery h3 {
    /* color: #697a7b; */
    /* font-size: 24px; */
    text-transform: capitalize;
    font-weight: bold;
    text-align: left
}

.estimated-delivery h4 {
    /* color: #697a7b; */
    /* font-size: 24px; */
    text-transform: capitalize;
    font-weight: bold;
    text-align: left
}

.estimated-delivery p {
    text-align: left
}