<h6>Your browser is out of date!</h6>
<p>Update your browser to view this website correctly. <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/">Update my browser now </a></p>
<p class="last"><button id="btnCloseUpdateBrowser" title="Close" aria-label="Close">&times;</button></p>