/*********************** RESPONSIVE STYLING **************************/

/* Large desktops and laptops */

@media(max-width:1200px) {}

/* Landscape tablets and medium desktops */

@media(width:1024px) {
    .login-content form input.login-sub {
        margin-bottom: -22px
        }
}

@media(max-width:992px) {
    
    .row.align-item {
        display: block;
        justify-content: center;
        align-items: center;
    }
    button.shop-filter-arrow.btn.btn-default {
        border: 0px;
        margin-top: 5px;
        display: initial;
        outline: none;
        margin-left: 10px;
      }
}

/* Portrait tablets and small desktops */

@media(max-width:768px) {
    .HomeSlider-left .carousel img {
        height: 280px;
    }
    .Featued-promo-box>img {
        width: 100%;
        height: 320px;
        margin-bottom: 10px;
        object-fit: fill;
      }
    span.footer-value {
      float: unset;
    }
    .pro-price.f-left {
        text-align: center;
    }
    .dropdown.btn-group{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .dropdown-city ul.dropdown-menu {
        max-height: 192px;
      }
    
    .Reset .login-content.mb-30{
        height: 1069px;
    }
    .login-content form input.login-sub {
        margin-bottom: -22px;
    }
    /* .login-lost {
        margin-top: unset;
    } */

    .single-shop__state {
        justify-content: center;
    }
    .dropdown.btn-group {
        display: flex;
    }
    .cart-item h4 {
        text-align: center;
    }
    .account-wishlit_btn{
        justify-content: center;
    }

    .grid-col {
        height: unset;
    }
    .single-shop__details{
        height: unset;
      }
    .row.align-item {
        text-align: center;
    }
    .header-info {
        float: none;
    }
    .header__search {
        margin-bottom: 25px;
    }
    .search-cat {
        display: inline-block;
        border: 1px solid #5f5f5f;
        border-radius: 5px;
    }
    .header-bottom button#dropdown-size-extra-small {
        width: 100%;
    }
    .cat-select {
        display: inline-block;
        float: none;
        width: 100%;
    }
    .nice-select {
        width: 100%;
    }
    .nice-select .btn-group,
    .btn-group-vertical {
        width: 100%;
    }
    .nice-select .dropdown-menu {
        width: 100%;
    }
    .cat-form {
        width: 100%;
        float: none;
        position: relative;
    }
    .cat-form input {
        width: 100%;
    }
    .header-bottom .btn-primary {
        position: relative;
        display: inline-block;
        width: 100%;
    }
    .header-info span {
        display: block;
        width: 100%;
    }
    .Shopcategory__menu {
        float: none;
    }
    .row {
        padding: 0px !important;
    }
    .HomeAds img {
        width: 100%;
        object-fit: cover;
    }
    .PhoneCategory_left img {
        width: 100%;
        margin-left: 0px;
        object-fit: fill;
        height: 256px !important;
    }
    .footer-Call-Adress {
        /* display: none; */
    }
    .footer-Call-Adress ul {
        text-align: center;
    }
    .footer-Call {
        margin-bottom: 30px;
    }
    .stepwizard {
        display: none;
    }
    .checkout-content .section-title__holder {
        margin-top: 30px
    }
    .Login {
        padding: 0px;
    }
    .cart-category {
        text-align: center;
        margin: 10px;
    }
    .footer-Call-img {
        display: none
      }
    .Language-choose btn-toolbar {
        margin-top: 15px;
    }
    .single-shop {
        text-align: center;
    }
    .single-shop__rating h3 {
        text-align: center;
    }
    .btn-toolbar>.btn,
    .btn-toolbar>.btn-group,
    .btn-toolbar>.input-group {
        float: none;
    }
    .single-shop__Description h3 {
        text-align: center;
    }
    .single-shop em.Categories-type {
        margin-left: 0px;
    }
    .cart__total {
        text-align: center;
    }
    .cart .cart-delete {
        float: none;
    }
    .HomeSlider .carousel-caption {
        text-align: center;
    }
    .HomeSlider .carousel-caption p {
        visibility: hidden;
    }
    .checkout-content {
        background: white;
        display: flex;
        flex-direction: column;
    }
}

/* Landscape phones and portrait tablets */

@media(max-width:360px) {
    .BestSeller .product-content.pt-15 {
        width: 140px;
    }
}

@media (width: 320px){
    .login-content form input.login-sub {
    margin-bottom: -48px
    }

}