* {
  font-family: CoTextArabic;
}

@font-face {
  font-family: CoTextArabic-Bold;
  src: url("../fonts/CoTextArabic-Bold.otf");
}

@font-face {
  font-family: CoTextArabic;
  src: url("../fonts/CoTextArabic-regular.otf");
}

@font-face {
  font-family: CoTextArabic-light;
  src: url("../fonts/CoTextArabic-light.otf");
}

.header-info span {
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  margin-right: 30px;
  color: #ffffff;
}

.header-top-area {
  /* background-color: #404043; */
  background: url('../img/BabMakkahBackground.jpg');
  padding: 20px;
  padding-bottom:0;
}

.PhoneCategory a {
  color: black;
  /* text-decoration-line: none; */
  text-decoration: none;
}

.footer-Call-caption h3.babmakkah-email {
  font-size: 22px;
  margin-top: 8px;
}

.header-top-area button#dropdown-size-medium {
  background: transparent;
  color: #fff;
  border: 0;
}

.header-top-area__social-links {
  text-align: left;
}

.header-top-area__social-icon {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
}

.header-top-area__social-icon i {
  color: #fff;
}

.header-top-area__social-icon:hover .fa.fa-twitter {
  color: #1da1f2;
}

.header-top-area__social-icon:hover .fa.fa-facebook {
  color: #3b5998;
}

.header-top-area__social-icon:hover {
  background-color: #fff;
}

.dropdown.btn-group {
  display: block;
  width: 47%;
}

.header-top-area__social-icon:hover .fa.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%);
  background: -webkit-radial-gradient(circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

.header-info {
  float: left;
  padding-top: 6px;
}

.header-info a {
  color: #fff;
}

/* 5. banner */

.featured-area {
  padding: 0;
}

.label-for-subject {
  float: left;
  margin-top: 6px;
  margin-right: 7px;
}

.featured-wrap {
  position: relative;
  margin-bottom: 30px;
}

.featured-img {
  position: relative;
  overflow: hidden;
}

.featured-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  zoom: 1;
  cursor: pointer;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}

.featured-wrap:hover .featured-img img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
}


.featured-content {
  width: 100%;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  left: 20px;
}

.featured-content h2 {
  letter-spacing: -1px;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
}

.featured-content h2.color-yellow {
  color: #f50057;
}

.featured-content a {
  border-top-right-radius: 0;
  display: inline-block;
  font-family: "CoTextArabic";
  /* padding: 5px 20px; */
  background-color: #fff;
  font-size: 15px;
  letter-spacing: 0;
  color: #fbcc00;
  font-weight: 500;
  border-radius: 40px;
  border-radius: 50%;
  width: 63px;
  height: 63px;
  text-align: center;
  line-height: 63px;
  border-bottom-right-radius: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
  top: 0;
  right: 40px;
}

.featured-content a:hover {
  background: #fbcc00;
  color: #fff;
}

.cat-form input {
  border: 0;
  height: 45px;
  width: 100%;
  border-radius: 30px;
  padding-left: 15px;
  background: transparent;
  outline: 0;
  color: #fbcc00;
}

.header-bottom input[type="text"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #bdbdc6;
  font-size: 12px;
}

.header-bottom input[type="text"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #bdbdc6;
  font-size: 12px;
}

.header-bottom input[type="text"]:-ms-input-placeholder {
  /* IE 10+ */
  color: #bdbdc6;
  font-size: 12px;
}

.header-bottom input[type="text"]:-moz-placeholder {
  /* Firefox 18- */
  color: #bdbdc6;
  font-size: 12px;
}

.header-bottom .btn-primary {
  position: absolute;
  right: 0;
  border: 0;
  top: 0px;
  right: 0px;
  padding: 5px 20px;
  box-shadow: 0;
  box-shadow: none;
  margin: 0;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  background: #444444;
  border-radius: 4px;
  text-transform: capitalize;
  background-color: #ffcb09;
  height: 45px;
  width: 90px;
  border-radius: 4px;
  color: #2f2f33;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-cat {
  display: inline-block;
  border: 1px solid #5f5f5f;
  border-radius: 5px;
  width: 100%
}

.cat-select {
  float: left;
}

.cat-form {
  width: 66%;
  float: right;
  position: relative;
}

.header-bottom button#dropdown-size-extra-small {
  border: 0;
  height: 45px;
  color: #bdbdc6;
  border-radius: 5px;
  background-color: #f7f8fc;
  width: 160px;
  /* height: 42px; */
  border-radius: 5px;
  background-color: #f7f8fc;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 12px;
  color: #76767e;
}

.header-info img {
  width: 100%;
  width: 120px;
}

.header-bottom {
  /* background: #2f2f33; */
  background: url('../img/BabMakkahBackground.jpg');
  padding: 17zpx;
}

.header-bottom .btn .caret {
  margin-left: 18px;
}

.header-bottom__controller i {
  color: #697a7b;
  float: left;
  line-height: 21px;
  margin-right: 12px;
  width: 29.9px;
  height: 29.5px;
  font-size: 31px;
}

.header-bottom__controller p {
  margin: 0 0 10px;
  text-align: center;
  color: #bdbdc6;
  line-height: 6px;
  font-size: 12px;
  /* float: right; */
}

.header-bottom__controller h5 {
  /* margin: 0 0 10px; */
  color: #76767e;
  text-transform: capitalize;
  text-align: center;
}

p.header-bottom__item em {
  color: red;
  font-style: normal;
  margin-top: 10px;
  color: #ffcb09;
  display: block;
  /* font-size: 13px; */
}

.header-bottom__controller.left {
  display: inline-block;
  width: 110px;
}

.header-bottom__controller.left .header-bottom__item {
  visibility: hidden;
}

.header-bottom__controller.right {
  display: inline-block;
  width: 100%;
}

.header-bottom__account-link {
  visibility: hidden;
}

.header-bottom__controller.left img {
  display: inline-block;
  margin-right: 0;
}

.header-bottom__controller.right img {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
}

.row.align-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-bottom__controller a {
  cursor: pointer;
}

/*----------------
Shopcategory__menu
-------*/

.Shopcategory__menu .btn-lg .caret {
  background: url('../img/menu.png');
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  content: "";
  border-width: 0;
  margin-top: 20px;
  margin-left: 50px;
}

.Shopcategory__menu .dropdown-menu>li>a {
  border-bottom: 1px solid #f7f8fc;
  padding: 12px;

}

.Shopcategory__menu button#dropdown-size-large:hover {
  background: #fdcb09;
  cursor: pointer;
}

.Shopcategory__menu button#dropdown-size-large {
  width: 270px;
  height: 60px;
  background: #404043;
  color: #fff;
  border-radius: 0;
  margin: 0;
  padding: 0;
  border: 0;
  text-transform: uppercase;
  font-size: 15px;
  text-align: left;
  text-indent: 12px;
}

.Shopcategory__menu ul.dropdown-menu {
  width: 290px;
  width: 270px;
  height: 500px;
  overflow-x: scroll;
  border-radius: 5px;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); */
  background-color: #ffffff;
}

.Shopcategory__menu i {
  width: 12px;
  height: 12px;
  opacity: 0.5;
  color: #7f8c8d;
  margin-right: 11px;
  font-size: 15px;
}

.Shopcategory__menu .navbar-default .navbar-nav>li>a {
  color: #777;
  padding-left: 0;
}

.Shopcategory .navbar-default {
  background: transparent !important;
  border: 0;
  padding: 0px;
  margin-bottom: 0px;
}

.Shopcategory li.special a {
  color: #ffcb09 !important;
}

.Shopcategory .navbar-default .navbar-nav>li>a {
  /* color: #777; */
  color: #76767e;
  font-weight: bold;
  margin-top: 6px;
}

.Shopcategory__special-mark {
  top: 1px;
  right: 30px;
  width: 30px;
  height: 15px;
  background: #fc3a51;
  position: absolute;
  color: #fff;
}

.Shopcategory__special-mark.green {
  background-color: #16d4b7;
}

.Shopcategory__special-mark.green:after {
  border-color: #16d4b7 transparent transparent transparent;
}

.Shopcategory__special-mark p {
  margin: 0 0 10px;
  font-size: 11px;
  line-height: 12px;
}

.Shopcategory__special-mark:after {
  content: "";
  display: block;
  border-style: solid;
  border-width: 4px;
  border-color: #fc3a51 transparent transparent transparent;
  position: absolute;
  left: calc(50% - 4px);
  top: 100%;
}

.Shopcategory.shop-inside {
  display: none;
}

/*----------------
Home Slider 
-------*/
.HomeSlider a.carousel-control {
  display: none;
}

.HomeSlider .product-img img {
  width: 100%;
  transition: 0.3s;
  height: 100%;
  height: 100%;
  object-fit: contain;
}

.HomeSlider .carousel-caption {
  position: absolute;
  left: 32px;
  text-align: left;
  padding: 10px;
  top: 30px;
  text-shadow: none;
}

.HomeSlider .carousel-caption p {
  /* font-family: CoTextArabic; */
  font-size: 24px;
  font-weight: bold;
  width: 360px;
  line-height: 27px;
  margin-top: 5px;
  text-transform: uppercase;
}

.HomeSlider h3 {
  margin: 0;
}

.HomeSlider .carousel-caption em {
  font-weight: bold;
  color: #ffcb09;
  font-size: 36px;
  position: relative;
  top: 20px;
}

.HomeSlider ol.carousel-indicators {
  left: 10%;
}

.HomeSlider-left .btn {
  width: 134px;
  height: 35px;
  background-color: #ffcb09;
  border: 0;
  margin-top: 30px;
}

.btn {
  transition: 0.3s;
}

/*----------------
Home Slider 

-------*/

/*----------------
Banner home 1
-------*/

section.banner-area-full.pt-80 {
  margin-top: 42px;
}

.featured-content h3 {
  font-size: 13px;
  text-align: left;
  margin-bottom: 4px;
  color: #fff;
}

.featured-content h2 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.featured-content h5 {
  font-size: 11px;
  text-align: left;
  margin-top: 3px;
  color: #fff;
}

/*----------------
Banner home 1
-------*/

/*----------------
Delivery Process
-------*/

.Delivery-wrapper i {
  display: inline-block;

  background-color: #ffcb09;
  font-size: 33px;
  letter-spacing: 0;
  color: #ffffff;
  font-weight: 500;
  border-radius: 40px;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  text-align: center;
  line-height: 72px;
  border-bottom-left-radius: 0;
}

.Delivery-content h3 {
  color: #2f2f33;
  font-size: 15px;
  font-weight: bold;
  margin-top: 18px;
}

.Delivery-content p {
  font-size: 13px;
  color: #76767e;
  line-height: 18px;
}

.custome-width {
  width: 20%;
}

.section-title h3 {
  text-align: left;
  margin-bottom: 30px;
  width: fit-content;
  border-bottom: 2px solid #ffcb09;
  padding: 10px 0;
  font-size: 18px;
  margin: 0;
  font-family: CoTextArabic;
  font-weight: bold;
}

.validation {
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  direction: ltr;
}

.validation-btn__shop {
  margin-right: 100px;
  background: #fdcb09;
  border: 0;
  padding: 12px 25px;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
}

.validation-btn__orders {
  background: #fdcb09;
  border: 0;
  padding: 12px 25px;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
}

.validation h2 {
  margin: 50px auto;
}

/*----------------
Delivery Process
-------*/

/* 4. product */
.product-wrapper {
  overflow: hidden;
}

.product-img img {
  width: 100%;
  transition: 0.3s;
}

img.secondary-img {
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}

.product-wrapper:hover img.secondary-img {
  opacity: 1;
}

/* product-action */
.product-action {
  position: absolute;
  bottom: 20px;
  left: -40px;
  width: 45px;
  transition: 0.3s;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}

.product-wrapper:hover .product-action {
  left: 20px;
  opacity: 1;
  visibility: visible;
}

.product-action a {
  background: #fff;
  height: 40px;
  width: 40px;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  color: #444444;
  text-align: center;
  line-height: 43px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.product-action a:last-child {
  margin-bottom: 0;
}

.product-action a:hover {
  background: #fbcc00;
  color: #fff;
}

.pro-price span.old-price {
  color: #8a8a8a;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 5px;
}

.pro-rating i {
  color: #ff3b2f;
  font-size: 13px;
}

/* product-nav */
.product-nav li {
  margin: 0;
  position: relative;
  padding: 0 30px;
}

.product-nav li:last-child {
  padding-right: 0;
}

.product-nav li:first-child {
  padding-left: 0;
}

.product-nav li::before {
  background: #ccc;
  height: 12px;
  width: 1px;
  content: "";
  position: absolute;
  right: 0;
  top: 6px;
}

.product-nav li:last-child:before {
  display: none;
}

.grey-bordered {
  border: 1px solid #ecede7;
  background: white;
}

.product-nav li a {
  padding: 0;
  font-size: 14px;
  color: #444444;
  font-weight: 600;
}

.product-nav li a.active {
  color: #ff3b2f;
}

.sale-tag {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
}

.sale-tag span {
  background: #ff3b2f;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  width: 60px;
  height: 21px;
  line-height: 20px;
  text-align: center;
  font-size: 11px;
  position: relative;
  z-index: 1;
  display: block;
  margin-bottom: 7px;
  /* border-radius: 100%; */
  background-color: #e42323;
  border-top-left-radius: 11px;
  border-bottom-right-radius: 11px;
}

.sale-tag span.sale {
  background-color: #16d4b7;
}

.PhoneCategory img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.PhoneCategory_left img {
  height: 377px;
  width: 571px;
  margin-left: -15px;
  object-fit: cover;
}

.PhoneCategory ul.nav.nav-tabs {
  float: right;
  margin-top: -13px;
  border: 0;
}

.PhoneCategory .nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  color: #ffcb09;
  border: 0;
}

.PhoneCategory .nav>li>a {
  color: #76767e;
  position: relative;
  display: block;
  padding: 10px 15px;
}

.Featued-promo-box>img {
  width: 100%;
  height: 320px;
  margin-bottom: 10px;
  object-fit: cover;
}

.Featued-promo-box .Featued-description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #777777;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.Featued-promo-box.Featued-one-child .Featued-description .Featued-description-wrapper {
  padding: 13px 39px 11px;
  text-align: center;
  max-width: 409px;
  position: relative;
}

html:not(.ie) .Featued-promo-box .Featued-description .Featued-description-wrapper .Featued-background {
  transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.Featued-promo-box.Featued-one-child .Featued-description .Featued-description-wrapper .Featued-background {
  content: "";
  position: absolute;

  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #ffcb09;
  border-radius: 0px;
}

.Featued-promo-box .Featued-description *:nth-child(1) {
  margin-top: 0;
}

.Featued-promo-box.Featued-one-child .Featued-description .Featued-description-wrapper>*:not(.Featued-background) {
  position: relative;
}

.Featued-promo-box .Featued-description .Featued-title-small {
  font-family: CoTextArabic;
  color: #191919;
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
  letter-spacing: 0.03em;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

span.payment-method {
  margin-right: 30px;
}

.checkout-content__stepper {
  margin-left: -30px;
  margin-right: -18px;
}

.Featued-promo-box {
  display: block;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tt-promo-box>img {
  width: 100%;
  height: auto;
}

.header-bottom__controller.flex-col {
  display: inline-flex;
  flex-direction: column;
  width: 70px;
}

.FeatuedCategoris {
  margin-top: 50px;
  background: #000000 url("../img/home-pattren2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-size: 30%;
  background-position-y: 100%;
  padding-bottom: 87px;
  /* background-position-x: 100%; */
}

.featured-section__title h3 {
  color: #ffcb09;
  text-align: -webkit-auto;
  font-size: 36px;
}

.BestSeller .product-content.pt-15 {
  display: inline-block;
  text-align: left;
  margin-left: 13px;

  width: 190px;
}

.BestSeller .product-img img {
  width: 90px;
  height: 70px;
  object-fit: contain;
  float: left;
}

.BestSeller .product-img {
  position: relative;
  overflow: unset;
}

.BestSeller .pro-price span.old-price {
  color: #2fc2e2;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 6px;
  font-size: 16px;
}

.BestSeller .pro-item {
  border: 1px solid #ecede7;
  padding: 10px;
  margin-bottom: 10px;
}

.BestSeller .product-content.pt-15:before {
  position: absolute;

  content: "";
  background: #ecede7;
  margin-left: -16px;
  margin-top: 4px;
  width: 1px;
  height: 63px;
}

.product-content.pt-15 h4 {
  margin-bottom: 1px;
}

.footer {
  /* background: #2f2f33; */
  background: url('../img/BabMakkahBackground.jpg');
  color: #fff;
  text-align: left;
  margin-top: 150px;
}

.footer-Call-Adress a {
  color: #fff;
}


.footer-Call-img {
  float: left;
  margin-top: 14px;
  margin-right: 20px;
}

.footer-Call-caption h3 {
  margin: 0;
  font-size: 27px;
}

.footer-Call-Adress ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.footer-Call-Adress li {
  font-family: CoTextArabic-Bold;
  color: #fff;
}

.footer-Call-Adress span.special-color {
  color: #7f8c8d;
  font-family: CoTextArabic-Bold;
  margin-right: 20px;
}

.HomeAds {
  margin-top: 40px;
  background: black;
}

.HomeAds img {
  width: 25%;
  object-fit: cover;
}


.BestSeller {
  margin-top: 40px;
}

.PhoneCategory {
  margin-top: 40px;
}

.Delivery-area {
  margin-top: 40px;
}

/* Shop Filter*/

.Filter {
  text-align: left;
}

.grid-col {
  background: white;
  height: 2045px;
}

.single-shop__details {
  background: white;
  padding-top: 15px;
  height: 637px;
}

.Filter-by__item span {
  margin-left: 6px;
  text-transform: capitalize;
}

.Filter-by__item {
  color: #76767e;
  font-size: 13px;
  line-height: 26px;
  /* margin-bottom: 22px; */
}

.Filter img {
  width: 100%;
  margin-top: 40px;
}

.Filter-slider {
  margin-top: 30px;
  display: none;
}

.Filter-slider h4 {
  margin-bottom: 23px;
  font-family: CoTextArabic-Bold;
  font-size: 18px;
}

.Filter-slider p {
  color: #76767e;
  font-size: 15px;
}

.Filter-slider button.btn.btn-primary {
  /* width: 44px; */
  /* height: 23px; */
  /* width: 64px; */
  /* height: 27px; */
  background-color: #ffcb09;
  border: 0;
  margin-top: 21px;
  /* line-height: 0; */
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 5px;
}

/* Shop Filter*/

.input-range__slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fbcc00;
  border: 1px solid #fbcc00;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1rem;
  margin-left: -0.5rem;
  margin-top: -0.65rem;
  outline: none;
  position: absolute;
  top: 50%;
  -webkit-transition: box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out,
    -webkit-transform 0.3s ease-out;
  width: 1rem;
}

.input-range__slider:active {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.input-range__slider:focus {
  box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2);
}

.input-range--disabled .input-range__slider {
  background: #cccccc;
  border: 1px solid #cccccc;
  box-shadow: none;
  -webkit-transform: none;
  transform: none;
}

.input-range__slider-container {
  -webkit-transition: left 0.3s ease-out;
  transition: left 0.3s ease-out;
}

.input-range__label {
  color: #aaaaaa;
  font-family: "Helvetica Neue", san-serif;
  font-size: 0.8rem;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  white-space: nowrap;
}

.input-range__label--min,
.input-range__label--max {
  bottom: -1.4rem;
  position: absolute;
}

.input-range__label--min {
  left: 0;
}

.input-range__label--max {
  right: 0;
}

.input-range__label--value {
  position: absolute;
  top: -1.8rem;
}

.input-range__label-container {
  left: -50%;
  position: relative;
}

.input-range__label--max .input-range__label-container {
  left: 50%;
}

.input-range__track {
  background: #eeeeee;
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  height: 0.3rem;
  position: relative;
  -webkit-transition: left 0.3s ease-out, width 0.3s ease-out;
  transition: left 0.3s ease-out, width 0.3s ease-out;
}

.input-range--disabled .input-range__track {
  background: #eeeeee;
}

.input-range__track--background {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%;
}

.input-range__track--active {
  background: #fbcc00;
}

.input-range {
  height: 1rem;
  position: relative;
  width: 100%;
}

/*#  range.css.map*/

/*#  Start Shop Grid*/
.shop {
  margin-top: 15px;
}

.shop-grid img {
  margin: 0;
}

/*#  END Shop Grid*/

/*# bread crumb*/

.breadcrumb-holder li a {
  font-family: CoTextArabic;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 4.62;
  letter-spacing: normal;
  color: #76767e;
}

.breadcrumb-holder ol.breadcrumb {
  background: transparent;
  padding: 0;
  margin: 0;
  margin-left: 15px;
}

.breadcrumb-holder {
  background: #f9f9f9;
  text-align: left;
}

/*# bread crumb*/

/* .Shop filter */

.Shopsort_left h3 {
  display: inline;
}

.Shopsort__result {
  color: #767673;
}

.Shopsort_left button#dropdown-size-extra-small {
  border: 0;
  color: #fdcb09;
  font-size: 14px;
  transition: 0.3s;
}

.Shopsort_left h3 {
  display: inline;
  color: #7c7c7a;
  font-weight: normal;
  font-size: 14px;
}

.Shopsort__result em {
  color: #fdcb09;
  font-style: normal;
}

.Shopsort_left label.btn.btn-default.active i {
  color: #fdcb09;
}

.Shopsort_left label.btn.btn-default i {
  color: #76767e;
}

.Shopsort_left label.btn.btn-default {
  border: 0;
  box-shadow: none;
  background: transparent;
}

.Shopsort_left label.btn.btn-default:hover {
  border: 0;
  box-shadow: none;
  background: transparent;
}

.Shopsort_left .btn-group .btn {
  padding: 6px;
}

.Shopsort_left {
  text-align: left;
}

.Shopsort__result {
  text-align: right;
  float: right;
}

.Shopsort.clearfix {
  margin-bottom: 19px;
  padding: 3px;
}

.Shopsort__grid-list-selector {
  display: none;
}

.Shopsort_left button#dropdown-size-extra-small:hover,
.Shopsort_left button#dropdown-size-extra-small:active,
.Shopsort_left button#dropdown-size-extra-small:focus {
  color: black;
}

.PhoneCategory .product-content h2 {
  height: 43px;
}

.HomeSlider .product-content h2 {
  height: 43px;
}

/*# .Shop filter */

/*# .Shop grid*/

.shop-grid span.old-price {
  color: #76767e !important;
}

.shop-grid .pro-price span {
  font-weight: 700;
  font-size: 15px;
  color: #ffcb09;
}

.shop-grid .pro-item {
  padding-bottom: 30px;
}

.shop-grid .border-item {
  border: 1px solid #ecede7;
}

.shop-grid img {
  margin: 0;
  padding-bottom: 20px;
  width: 100%;
  height: 100%;
  height: 100%;
  padding: 10px;
  object-fit: contain;
}

.shop-grid .product-content h4 a {
  color: #76767e;
  font-size: 13px;
}

.shop-grid .pro-price.f-left {
  margin-top: 10px;
}

/*# .Shop grid*/

.shop-inside .navbar-default .navbar-nav>li>a {
  font-weight: normal;
  color: #fff;
}

.Shopcategory.shop-inside {
  background: #fdcb09;
}

.Shopcategory.shop-inside .navbar-default {
  background: transparent !important;
  border: 0;

  padding: 3px;
}

.Shopcategory.shop-inside .navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  color: #fff;
  background-color: transparent;
}

.Shopcategory.shop-inside .navbar-default .navbar-nav>li>a {
  margin-top: 2px;
}

.Shopcategory.shop-inside .navbar-default {
  margin-bottom: 0;
}

.pagination>li>a,
.pagination>li>span {
  color: #2f2f33;
  border-color: #ecede7;
}

.single-shop__addcart .btn {
  background: #fdcb09;
  border: 0;
  padding: 12px 25px;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
}

.single-shop__addcart {
  margin-top: 34px;
}

.single-shop .carousel .control-arrow:before,
.single-shop .carousel.carousel-slider .control-arrow:before,
.carousel .control-prev.control-arrow:before {
  margin: 0;
}

.single-shop .carousel .control-next.control-arrow:before {
  border-left: 8px solid #2f2f32;
}

.single-shop .carousel .control-prev.control-arrow:before {
  border-right: 8px solid #000;
}

.single-shop__Description h3 {
  color: #76767e;
  font-size: 14px;
  /* line-height: 24px; */
  line-height: 1.71;
  text-align: left;
}

button.shop-filter-arrow.btn.btn-default {
  border: 0px;
  margin-top: 5px;
  display: none;
}

.single-shop__rating h3 {
  color: #76767e;
  font-size: 13px;
  text-align: left;
  margin-top: 13px;
}

em.single-shop__availvale {
  color: #27ae60;
  font-style: normal;
  text-align: l;
}

.single-shop__state {
  display: flex;
  color: #2f2f33;
  line-height: 24px;
  margin-bottom: 12px;
  margin-top: 12px;
}

.single-shop label.btn.btn-default {
  background: transparent;
  margin-right: 10px;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.single-shop label.btn.btn-default.active {
  border: 1px solid #ffcb09;
  background: transparent;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.single-shop {
  text-align: left;
}

.single-shop {
  text-align: left;
  margin-top: 20px;
}

.single-shop .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.single-shop .btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 4px;
}

.single-shop .btn-group>.btn:last-child:not(:first-child),
.btn-group>.dropdown-toggle:not(:first-child) {
  border-radius: 4px;
}

.single-shop span.new-price {
  font-size: 25px;
  color: #ffcb09;
  margin-right: 3px;
}

.single-shop .pro-price span.old-price {
  font-size: 15px;
}

.single-shop .pro-price.f-left {
  margin-top: 14px;
}

.single-shop ul.thumbs.animated {
  padding: 0;
}

.single-shop .carousel .thumb.selected,
.carousel .thumb:hover {
  border: 1px solid #bdbeb7;
}

.single-shop .carousel .slide img {
  width: 100%;
  padding: 15px 0px;
  height: 448px;
  object-fit: contain;
  vertical-align: middle;
  border: 0;
}

img#mc-image {
  width: 70px;
  margin-right: 20px;
}

img#mada-image {
  height: 30px;
  width: 70px;
  margin-top: 20px;
  background-color: white
}

.dropdown-city ul.dropdown-menu {
  max-height: 250px;
  overflow-y: scroll;
}

.contact-form .form-group ul.dropdown-menu {

  overflow-y: scroll;
  max-height: 170px;
}


img#sadad-image {
  width: 70px;
  margin-top: 20px;

}

span.footer-value {
  float: right;
  width: 270px;
}

li.footer-Call-Adress___Address {
  height: 40px;
}

img#visa-image {
  width: 70px;
}

.footer-bottom {
  color: #81827e;
  text-transform: uppercase;
  /* background: #242427; */
  text-align: center;
  line-height: 60px;
  margin-top: 50px;
}

.footer .section-title__holder {
  border: 0;
  margin-bottom: 15px;
}

.footer-link a:hover {
  color: #ffcb09;
  text-decoration: none;
}

.footer .align-item.row {
  margin-top: 30px;
}

.footer hr {
  border-top: 1px solid #434348;
  margin-bottom: 50px;
}

.footer hr {
  border-top: 1px solid #434348;
}

.footer-Call-img {
  float: left;
  margin-left: 60px;
  margin-right: 30px;
}

.footer-link a {
  color: white;

}

.footer-link {
  margin-bottom: 10px;
}

.carousel .slide {
  display: flex;
  background: transparent;
}

.single-shop .carousel .thumb.selected,
.carousel .thumb:hover {
  border: 1px solid #bdbeb7 !important;
}

.single-shop__addcart h3 {
  display: inline-block;
  color: #c0392b;
  font-size: 14px;
  margin: 10px;
  text-transform: uppercase;
}

.single-shop__addcart i {
  font-size: 22px;
  float: left;
  margin-right: 6px;
}

.single-shop__Description.clearfix {
  margin-top: 30px;
}

.single-shop__category h3 {
  color: #2f2f33;
  font-size: 15px;
}

.single-shop em.Categories-type {
  color: #76767e;
  font-style: normal;
  margin-left: 30px;
}

/*Start checkout  */

.checkout {
  margin-top: 38px;
}

.checkout-holder {
  padding-top: 10px;
}

.checkout-content label {
  color: #7f8c8d;
  font-size: 14px;
  font-weight: normal;
}

.checkout-content .form-group {
  text-align: left;
}

.checkout-content input#formValidationNull::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #bdbdc6;
  font-size: 14px;
  font-family: CoTextArabic-Bold;
  font-weight: bold;
}

.checkout-content input#formValidationNull::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px;
  color: #bdbdc6;
  font-family: CoTextArabic-Bold;
  font-weight: bold;
}

.checkout-content .dropdown.btn-group {
  width: 50%;
  padding-right: 16px;
}

.checkout-content .btn-group>.btn:first-child {
  margin-left: 0;
  width: 100%;
  /* padding-left: 15px; */
  text-align: left;
  font-size: 14px;
  color: #34495e;
  font-family: CoTextArabic-Bold;
  font-weight: bold;
  border: 1px solid #d6dbe4;
  border-radius: 3px;
}

span.terms-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  margin: 10px 5px;
}

.checkout-content .btn .caret {
  margin-left: 0;
  float: right;
  margin-top: 9px;
  color: #7f8c8d;
  margin-right: 7px;
}

.checkout-content textarea#formControlsTextarea {
  padding: 15px 10px;
  height: 72px;
  resize: none;
  border: 1px solid #d6dbe4;
  border-radius: 3px;
}

.checkout-content input#formValidationNull {
  border: 1px solid #d6dbe4;
  border-radius: 3px;
}

.main-btn {
  background: #fdcb09;
  color: #fff;
  border: 0;
  border-radius: 3px;
}

button.checkout-saveaddress__btn.btn.btn-default {
  background: #2f2f33;
  color: #fff;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  height: 55px;
  width: 265px;
  float: right;
  margin-top: 15px;
}


.contact-form-input .form-group {
  text-align: left;
}

.contact-form-input textarea.form-control {
  height: 182px;
}

button.contact-form__btn-submit.btn.btn-default.btn.btn-default {
  background: #fdcb09;
  color: #fff;
  border: 0;
  float: right;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  height: 36px;
  width: 150px;
  margin-top: 15px;
}

span.checkout-method h3 {
  float: left;
  margin: 0;
  font-family: CoTextArabic-Bold;
  font-size: 15px;
  color: #2f2f33;
}

span.checkout__tax h3 {
  /* color: red; */
  margin: 0;
  background: rgba(255, 203, 9, 0.5);
  display: inline-block;
  padding: 6px;
  font-size: 16px;
  width: 52px;
  height: 32px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 8px;
}

button.checkout-Order__btn.main-btn.btn.btn-default {
  float: left;
  margin-top: 30px;
  width: 100%;
  height: 62px;
  font-size: 20px;
  font-family: CoTextArabic-Bold;
  font-weight: bold;
}

.checkout-promocode__input {
  float: left;
  margin: 30px 0px;
}


.checkout-promocode__input label {
  color: #7f8c8d;
  font-size: 14px;
  font-weight: normal;
  float: left;
}

span.checkout-method i {
  float: left;
  color: #ffcb09;
  /* width: 40px; */
  /* height: 30px; */
  font-size: 30px;
  margin-right: 9px;
  margin-top: -7px;
}

span.checkout-method h3 {
  float: left;
  margin: 0;
  font-family: CoTextArabic-Bold;
  font-size: 15px;
  color: #2f2f33;
  margin-top: 15px;
}

span.checkout-method h4 {
  text-align: left;
  font-family: CoTextArabic-Bold;
  font-size: 15px;
  color: #2f2f33;
}

.checkout-payment {
  border: 1px solid #ffcb09;
  padding: 9px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  height: 80px;
}

.checkout_choose h4 {
  text-align: left;
  margin-bottom: 15px;
  color: #2f2f33;
  font-size: 15px;
  font-weight: bold;
}

span.checkout__tax {
  float: right;
  display: none;
}

.checkout_choose em {
  color: #ffcb09;
  font-style: normal;
  font-size: 14px;
}

.checkout-cart .product-meta {
  margin-bottom: 20px;
  margin-top: 10px;
}

.checkout-cart .product-img {
  float: left;
  padding-top: 15px;

  width: 60px;
  height: 60px !important;
  margin-top: 5px;

  /* border: 1px solid #e6e7ed; */
}

.checkout-cart {
  border: 1px solid #e6e7ed;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.checkout-cart .pro-item-vertical .product-content {
  background: #fff;
  margin: 0px;
  padding: 0px;
  border-top: 0;
  margin-top: 18px;
  margin-right: 60px;
}

span.shoping-cart__edit {
  color: #ffcb09;
}

span.shoping-cart__edit a {
  color: #ffcb09;
}

span.shoping-cart__title {
  /* float: left; */
  margin-right: 94px;
  color: #76767e;
}

.checkout-cart .product-content.pt-15 h4 {
  margin-bottom: 5px;
  display: none;
}

.checkout-cart .pro-item-vertical {
  height: inherit;
}

.checkout-cart__total {
  background: #f4f4f4;
  padding: 10px;
  margin-top: 15px;
}

.checkout-cart table.left-table {
  text-align: left;
  line-height: 24px;
  color: #76767e;
}

.checkout-cart table.table-right td {
  color: #2f2f33;
  /* float: right; */
}

.checkout-cart table.table-right {
  margin-right: 0px;
  line-height: 29px;
}

.checkout-cart table.table-right td {
  text-align: right;
}

.checkout-cart table {
  width: 100%;
}

.checkout-cart table.table-right {
  text-align: left;
  line-height: 24px;
  color: #76767e;
}

.checkout-cart .ProductItem-qty h3 {
  font-size: 14px;
  margin: 0;
  color: #76767e;
}

.checkout-cart .ProductItem-qty {
  margin-top: -24px;
  color: #76767e;
  text-align: left;
  text-indent: 76px;
}

.checkout-cart .product-content h2 {
  height: inherit;
  margin: 0;
  text-align: left;
  font-size: 12px;
}

.checkout-cart .pro-price {
  text-align: left;
}

.checkout-cart .pro-item-vertical {
  padding: 14px;
}

.checkout-sum__text {
  clear: both;
}

.checkout-sum {
  padding: 12px;
  margin-top: 20px;
  height: 94px;
  background: #f4f4f4;
}


.checkout-sum__count h3 {
  margin: 0;
  font-size: 13px;
  line-height: 28px;
  float: right;
}

.checkout-sum__text h3 {
  margin: 0;
  font-size: 13px;
  line-height: 28px;
  float: left;
}

.checkout-grand__total {
  background: #2f2f33;
  color: #fff;
  padding: 12px;
  border-bottom-left-radius: 4px;
  clear: both;
  border-bottom-right-radius: 4px;
}

.grand-total__text {
  float: left;
}

.grand-total__count h3 {
  margin: 0;
}

.grand-total__text h3 {
  /* float: left; */
  /* display: inline-block; */
  text-align: left;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
}

.grand-total__count h3 {
  color: #ffcb09;
  /* float: right; */
  text-align: right;
  font-size: 14px;
  margin-top: 5px;
  font-weight: bold;
}


.checkout-content span.checkout_secure {
  text-align: left;
  /* color: red; */
  font-size: 25px;
  font-weight: bold;
  font-family: CoTextArabic-Bold;
}

.checkout-content span.checkout_secure h3 {
  margin-bottom: 40px;
  margin-top: 0px;
}

.checkout-content span.checkout_secure i {
  color: #fdcb09;
  float: left;
  margin-right: 10px;
  margin-top: 0px;
  font-size: 33px;
}

.checkout-checkbox.checkbox {
  text-align: left;
}

.stepwizard-step p {
  margin-top: 7px;
  color: #27ae60;
  font-size: 12px;
}

.stepwizard-row {
  display: table-row;
}

.stepwizard {
  display: table;
  width: 100%;
  position: relative;
  right: 63px;
  margin-bottom: 20px;
}

.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
  top: 21px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 84%;
  height: 3px;
  background-color: #e5e6ec;
  z-order: 0;
  left: 64px;
}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

a.btn.btn-primary.btn-circle {
  width: 40px;
  background: #27ae60;
  border: 0;
  height: 40px;
  border-radius: 50%;
  line-height: 27px;
  font-size: 17px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.step2 a.btn.btn-default.btn-circle {
  width: 40px;
  background: #27ae60;
  border: 0;
  height: 40px;
  border-radius: 50%;
  line-height: 18px;
  font-size: 17px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  opacity: 1;
  color: #2dae60;
  background: #fff;
  border: 4px solid #2dae60;
}

.step3 a.btn.btn-default.btn-circle {
  width: 40px;
  background: #27ae60;
  border: 0;
  height: 40px;
  border-radius: 50%;
  line-height: 29px;
  font-size: 17px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  opacity: 1;
  color: #76767e;
  background: #fff;
  /* border: 4px solid #2dae60; */
}

.stepwizard-step.step3 p {
  color: #76767e;
}

/*End checkout  */

/*cart  */

.cart table.table-right {
  margin-left: 65px;
  font-family: CoTextArabic-Bold;
  font-weight: bold;
  color: #2f2f33;
  line-height: 29px;
  text-transform: capitalize;
}

.cart table.left-table {
  line-height: 29px;
  color: #76767e;
  margin-top: -17px;

  text-align: left;
}

.cart-item h4 {
  color: #2f2f33;
  font-size: 17px;
  text-align: left;
  font-family: CoTextArabic-Bold;
  font-weight: bold;
  line-height: 28px;
  margin-top: 2px;
}

.cart-category h4 {
  font-size: 12px;
  margin: 0;
  font-family: CoTextArabic;
  display: none;
}

.cart-category {
  text-align: left;
  color: #76767e;
}

.cart td.cart__total-price {
  color: #ffcb09;
}

.cart-border {
  border: 1px solid #e6e7ed;
  padding: 20px;
  margin: 15px 0px;
  margin-top: 0px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: white;
}

.cart .cart-delete {
  float: right;
  margin-right: 20px;
}

.cart .cart-delete i {
  color: #c0392b;
  font-size: 32px;
  margin-top: 6px;
}

.cart .rc-input-number {
  border: 1px solid #d6dbe4;
  height: 30px;
  width: 50px;
}

.rc-input-number-handler-up {
  border-bottom: 1px solid #d9d9d9;
  padding-top: 1px;
  padding-bottom: 13px;
  font-size: 12px;
  /* font-weight: normal; */
}

.cart-details:before {
  height: 206px;
  width: 1px;
  background: #ecede7;
  position: absolute;
  content: "";
  left: 0px;
  margin-left: -8px;
}

.rc-steps.rc-steps-horizontal.rc-steps-label-vertical {
  text-align: left;
}

.checkout-content .country-dropdown {
  height: 33px;
  background: white;
  width: 100%;
}

.react-tel-input input[type=tel],
.react-tel-input input[type=text] {
  width: 100%;
}

.Account-setting>.container {
  background: white;
}

.cart__total {
  border: 1px solid #e6e7ed;
  text-align: left;
  padding: 13px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: white;
}

.cart__total h3 {
  font-size: 35px;
  color: #ffcb09;
  font-weight: bold;
  font-family: CoTextArabic-Bold;
  margin: 0;
}

.cart__total h5 {
  font-family: CoTextArabic;
  color: #76767e;
  font-size: 12px;
}

button.main-btn.cart__process.btn.btn-default {
  padding: 15px;
  width: 100%;
  font-size: 20px;
  margin-top: 15px;
  border-radius: 5px;
}

span.cart_bag i {
  color: #697a7b;
  margin-left: 12px;
  margin-right: 16px;
}

span.cart_bag {
  text-align: left;
}

.checkout-content {
  background: white;
}

span.cart_bag h3 {
  font-weight: bold;
  margin: 5px;
}

.cart-product__image img {
  height: 250px;
  object-fit: contain;
  width: 100%;
}

/*cart  */

/* start account setting  */
.Account-sidebar {
  text-align: left;
}

.are-vendor {
  float: right;
  line-height: 15px;
  font-size: 12px;
}

.react-tel-input input[type=tel] {
  width: 100% !important;
}

.react-tel-input {
  direction: ltr;
}

i.arrow-right.material-icons {
  float: right;
  margin-top: 0px;
  color: #76767e;
}

a.list-group-item.active {
  background: #ffcb08;
  border: 0;
}

a.list-group-item {
  text-transform: capitalize;
}

a.list-group-item.active i.arrow-right.material-icons {
  color: #fff;
}

.Account-header__holder {
  position: relative;
  top: 33px;
  text-align: left;
}

.Account-header {
  background: #f3f3f3;
}

.Account-avatar img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.Account-avatar {
  float: left;
}

.Account-data {
  display: inline-block;
  margin-left: 30px;
  margin-top: 15px;
}

.cart-details td {
  text-transform: capitalize;
}

.section-title h3 {
  text-align: left;
  float: left;
  text-transform: capitalize;
}

button.Account-Edit__btn.main-btn.btn.btn-default {
  width: 162px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 7px;
  float: right;
  margin-top: 0px;
  border-radius: 4px;
}

.account-setting {
  margin-top: 49px;
}

.account-setting table {
  width: 100%;
}

.account-setting table th,
td {
  padding: 10px;
  text-align: left;
  color: #2f2f33;
  font-family: CoTextArabic-Bold;
}

.account-setting .table_left_column {
  width: 15%
}

.account-setting .section-title__holder {
  height: inherit;
}

.Account-setting .modal-dialog {
  width: 341px !important;
  margin: 30px auto;
}

.Account-setting label.control-label {
  color: #7f8c8d;
  font-weight: normal;
  text-align: left;
  float: left;
}

.Account-setting button.cancel.btn.btn-default {
  border: 1px solid #e7e9ed;
  width: 100%;
  color: #7f8c8d;
  font-size: 15px;
  padding: 8px;
  border-radius: 3px;
}

.Account-setting h4#contained-modal-title {
  text-align: left;
  color: #34495e;
  font-family: CoTextArabic-Bold;
  font-size: 15px;
}

.Account-setting input#formValidationNull {
  border: 1px solid #d6dbe4;
  box-shadow: none;
  padding: 12px;
  font-size: 13px;
}

.Account-setting button.save.main-btn.btn.btn-default {
  width: 100%;
  font-size: 15px;
  padding: 8px;
  border-radius: 3px;
}

.account-setting .notification h4 {
  font-size: 13px;
  text-align: left;
  float: left;
  clear: left;
  font-family: CoTextArabic-Bold;
  color: #2f2f33;
  margin-top: 23px;
}

.Account-sidebar a.list-group-item.active {
  background: #ffcb08;
  border: 0;
  width: 100%;
}

.Account-data h3 {
  font-family: CoTextArabic-Bold;
  font-size: 25px;
}

.Account-data p {
  font-family: CoTextArabic-Bold;
  color: #7f8c8d;
  font-size: 14px;
  margin-top: 11px;
}

.Account-setting i.first-icon {
  color: #697a7b;
  margin-right: 10px;
  font-size: 14px;
  display: none;
}

.account-wishlist {
  background: white;
  padding: 50px 0px;
}

.Account-sidebar a.list-group-item.active i.first-icon {
  color: #fff;
}

.Account-setting .section-title h3:after {
  position: absolute;
  height: 1px;
  width: 97%;
  background: #ecede7;
  content: "";
  left: 15px;
  margin-top: 31px;
}

.Account-setting .section-title__holder {
  border: inherit;
  margin-bottom: 10px;
}

/* .contact-form .section-title__holder {
  justify-content: center;
  display: flex;
} */

/*end account setting */

/* Start login */
/* .gray-bg {
    background: #f6f6f6;
} */

.Login {
  padding: 60px;
  background: #f6f6f6;
}

.login-content {
  background: #fff none repeat scroll 0 0;
  padding: 25px;
  border-radius: 5px;
}

.login-title {
  color: #2a2a2a;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 13px;
  margin-top: 0;
  text-transform: uppercase;
  font-family: CoTextArabic-Bold;
}

.Login {
  text-align: left;
}

.login-content form label {
  color: #444;
  margin-bottom: 5px;
  text-align: left;
  float: left;
  font-weight: normal;
  margin-bottom: 7px;
}

.social-sign a {
  background: #3e5c98 none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
  padding: 9px 15px;
}

.social-sign a i {
  margin-right: 3px;
}

.login-content form input:not([type=checkbox]):not([type=file]):not([type=submit]) {
  border: 1px solid #d6dbe4;
  border-radius: 3px;
  box-shadow: none;
  font-size: 15px;
  height: 40px;
  margin-bottom: 20px;
  padding-left: 10px;
  width: 100%;
}

.login-content form input.login-sub {
  background: #ffcb09 none repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 5px;
  margin-left: 5px;
  padding: 0 40px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  width: 130px;
  width: inherit;
  font-family: CoTextArabic-Bold;
}

.login-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: #7c7c7a;
  margin-bottom: 15px;
}

.login-lost span.forgot-login a {
  color: #444;
}

.login-content form label {
  color: #444;
  margin-bottom: 5px;
}

.login-lost span.log-rem input {
  height: inherit;
  margin-right: 5px;
  position: relative;
  top: 0px;
  width: inherit;
}

.social-sign a.twitter {
  background: #22a9e0;
}

.social-sign a {
  background: #3e5c98 none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
  padding: 9px 15px;
}

.login-content form {
  margin-top: 30px;
}

.login-lost span.forgot-login a {
  float: right;
}

.Login .form-group {
  margin-bottom: 0;
  display: inline-block;
}

.header-top-area .btn-default,
.header-top-area label#englishBtn,
.header-top-area .btn-default,
.header-top-area label#arabicBtn {
  border-radius: 0px;
}

/* end login */

/* Start Wishlist */

.account-wishlist .cart-details {
  text-align: left;
}

button.main-btn.account-wishlit_btn.btn.btn-default {
  text-transform: uppercase;
  font-family: CoTextArabic-Bold;
  font-size: 16px;
  padding: 7px 38px;
}

.account-wishlit_btn {
  display: flex;
}

.account-wishlist .cart-delete i {
  color: #c0392b;
}

.acconunt-wishlist__rating h4 {
  font-size: 12px;
  color: #76767e;
}

/* End Wishlist */

.cart .cart-delete i {
  cursor: pointer;
}

.Language-choose.btn-toolbar {
  float: right;
}

.header-top-area .btn-default,
.header-top-area label#englishBtn.active {
  background: transparent;
  color: #fff;
  border: none;
}

.header-top-area label#englishBtn.active {
  background: #2f2e33;
  color: #fff;
  border: none;
}

.header-top-area label#arabicBtn.active {
  background: #2f2e33;
  color: #fff;
  border: none;
}

.header-top-area .btn-default.active.focus,
.header-top-area .btn-default.active:focus,
.header-top-area .btn-default.active:hover,
.header-top-area .btn-default:active.focus,
.header-top-area .btn-default:active:focus,
.header-top-area .btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
  background-color: transparent;
  border-color: none;
  box-shadow: none;
}


.footer-Call-caption a {
  color: white;
}

.sk-rotating-plane>div {
  width: 70px !important;
  height: 70px !important;
  margin: 100px;
}

.sk-spinner {
  display: flex;
  justify-content: center;
  height: 500px;
}

.view-product__image img {
  height: 188px;
  object-fit: contain;
  width: 100%;
}

.view_products-details:before {
  height: 188px;
  width: 1px;
  background: #ecede7;
  position: absolute;
  content: "";
  left: 0px;
  margin-left: -8px;
}


.checkout-saveaddress__btn {
  /* display: none; */
}

.payment-section {
  display: none;
}


.home-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 29;
  display: flex;
  align-content: center;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  transition: all 2s ease;
}

.home-overlay .btn-cont {
  margin: auto;
}

.home-overlay .btn {
  /* .HomeSlider-left .btn */
  font-size: 40px;
  width: 250px;
  height: 90px;
  background-color: #ffcb09;
  border: 0;
  margin-top: 30px;
  color: #000;
  text-transform: uppercase;
  padding: 0 30px;
}

.react-countdown-clock {
  display: flex;
}

.confetti {
  display: flex;
  justify-content: center;
  margin: auto;
}

.cart-item h4 span {
  font-weight: 100;
}

.cart-delete {
  display: flex;
  justify-content: flex-end;
}

.my_orders_btn {
  display: flex;
  justify-content: flex-end;
}