/* *{
    font-family: CoTextArabic;
}


@font-face {
	font-family:CoTextArabic-Bold ;
	src: url('../fonts/CoTextArabic-Bold.otf');
  }
  
  
  @font-face {
    font-family: CoTextArabic;
	src: url('../fonts/CoTextArabic-regular.otf');
  }
  
  @font-face {
	font-family:CoTextArabic-light;
	src: url('../fonts/CoTextArabic-light.otf');
  } */
.cancellation-policy-ar p,
h3 {
  text-align: right;
}

.header-info {
  float: right;
}

.header-info span {
  float: right;
}

.header-top-area__social-links {
  text-align: right;
}

.Language-choose.btn-toolbar {
  float: left;
}

.navbar-nav {
  padding: 0px;
}

.carousel-col {
  direction: ltr;
}

.are-vendor {
  float: left;
}

.section-title h3 {
  text-align: right;
  float: right;
}

.rc-steps-item-tail {
  left: unset;
  right: 0;
}

.rc-steps.rc-steps-horizontal.rc-steps-label-vertical {
  text-align: right;
}

.rc-steps-label-vertical .rc-steps-item-tail {
  margin-right: 48px;
  margin-left: unset;
}

.rc-steps-label-vertical .rc-steps-item-icon {
  margin-right: 36px;
  margin-left: unset;
}

.featured-content h5 {
  font-size: 15px;
  text-align: right;
  margin-top: 9px;
  color: #fff;
}

.featured-content a {
  right: unset;

  left: 40px;
}

.featured-content h3 {
  font-size: 18px;
  text-align: right;
}

.BestSeller .product-content h2 {
  text-align: right;
}

.BestSeller .product-content.pt-15:before {
  margin-right: 130px;

  height: 63px;
  right: 0;
}

.BestSeller .product-img img {
  float: right;
}

.BestSeller .product-content.pt-15 {
  text-align: right;
}

.header-bottom button#dropdown-size-extra-small {
  border-radius: 5px;
  background-color: #f7f8fc;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.cat-form input {
  padding-right: 15px;
}

.cat-form {
  width: 66%;
  float: left;
  position: relative;
}

.header-bottom .btn-primary {
  left: 0;
  right: unset;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.cat-select {
  float: right;
}

.header-info span {
  margin-left: 30px;
}

.btn-toolbar .btn-group,
.btn-toolbar .input-group {
  float: right;
}

.Shopsort__result {
  text-align: left;
  float: left;
}

.single-shop {
  text-align: right;
}

.checkout-cart .ProductItem-qty {
  text-align: right;
  text-indent: 15px;
}

.checkout-cart .pro-item-vertical .product-content {
  margin-right: 0px;
}

.checkout-cart .product-content h2,
.checkout-cart .pro-price {
  text-align: right;
}

.single-shop__rating h3,
.single-shop__Description h3 {
  text-align: right;
}

.login-content form input.login-sub {
  /* position: unset;
  bottom: unset; */
}

.login-content form label {
  text-align: right;
  float: right;
}

.login-content form input.login-sub {
  float: right;
}

.Login {
  text-align: right;
}

.featured-content h2 {
  font-size: 28px;
  text-align: right;
}

.Filter {
  text-align: right;
}

.Shopsort_left {
  text-align: right;
}

.footer-Call-caption p {
  text-align: center;
  padding-right: 25px;
}

.footer-Call-Adress ul {
  text-align: center;
}

.footer-Call-Adress span.special-color {
  float: right;
}

.PhoneCategory_left img {
  margin-right: -15px;
}

span.cart_bag h3 {
  text-align: right;
}

span.cart_bag i {
  margin-right: 0px;
}

button.Account-Edit__btn.main-btn.btn.btn-default {
  float: left;
}

.account-setting td,
th {
  /* float: right; */
  text-align: right;
}

.cart-item h4 {
  text-align: right;
}

.cart__total {
  text-align: right;
}

.Account-setting h4#contained-modal-title {
  text-align: right;
}

.Account-setting label.control-label {
  float: right;
  text-align: right;
  margin-left: 25px;
}

i.arrow-right.material-icons {
  float: left;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.footer-link {
  text-align: right;
}

a.list-group-item,
button.list-group-item {
  text-align: right;
}

.cart table.left-table {
  text-align: right;
}

.checkout-content span.checkout_secure i {
  float: right;
}

.checkout-content span.checkout_secure h3 {
  text-align: right;
}

.stepwizard {
  right: 0px;
}

span.shoping-cart__title {
  float: right;
  margin-right: 50px;
}

.grand-total__count h3 {
  text-align: left;
}

.grand-total__text {
  float: right;
}

.checkout-cart table.table-right td {
  text-align: left;
}

.checkout-content .form-group {
  text-align: right;
}

.checkout-checkbox.checkbox {
  text-align: right;
}

.Featued-promo-box.Featued-one-child .Featued-description .Featued-description-wrapper {
  padding: 10px 30px 8px;
}

.Featued-promo-box .Featued-description .Featued-title-small {
  font-size: 20px;
  letter-spacing: 0px;
}

.checkout-content__stepper {
  margin-right: -30px;
  margin-left: -18px;
}

.section-title h3 {
  font-family: CoTextArabic;
}

span.payment-method {
  margin-left: 30px;
  margin-right: 0px;
}

.HomeSlider .carousel-caption {
  left: 0px;
  right: 32px;
  text-align: right;
}

.pro-price.f-left {
  text-align: right;
}

.cart-details:before {
  right: 0px;
}

.contact-form-input .form-group {
  text-align: right;
}

.account-setting table th,
td {
  text-align: right;
}

.checkout-sum__count {
  float: left;
}

.checkout-sum__text {
  float: right;
}



.Terms-ar h3 {
  /* color: #697a7b; */
  /* font-size: 24px; */
  text-transform: capitalize;
  font-weight: bold;
  text-align: right
}

.Terms-ar h4 {
  /* color: #697a7b; */
  /* font-size: 24px; */
  text-transform: capitalize;
  font-weight: bold;
  text-align: right
}

.Terms-ar h5 {
  /* color: #697a7b; */
  /* font-size: 24px; */
  text-transform: capitalize;
  font-weight: bold;
  text-align: right
}

.Terms-ar p {
  text-align: right
}

.Terms-ar h3 {
  /* color: #697a7b; */
  /* font-size: 24px; */
  text-transform: capitalize;
  font-weight: bold;
  text-align: right
}

.Terms-ar h4 {
  /* color: #697a7b; */
  /* font-size: 24px; */
  text-transform: capitalize;
  font-weight: bold;
  text-align: right
}

.Terms-ar h5 {
  /* color: #697a7b; */
  /* font-size: 24px; */
  text-transform: capitalize;
  font-weight: bold;
  text-align: right
}

.Terms-ar p {
  text-align: right
}


.privacy-policy-ar h3 {
  /* color: #697a7b; */
  /* font-size: 24px; */
  text-transform: capitalize;
  font-weight: bold;
  text-align: right
}

.privacy-policy-ar h4 {
  /* color: #697a7b; */
  /* font-size: 24px; */
  text-transform: capitalize;
  font-weight: bold;
  text-align: right
}

.privacy-policy-ar p {
  text-align: right
}

.return-policy-ar h3 {
  /* color: #697a7b; */
  /* font-size: 24px; */
  text-transform: capitalize;
  font-weight: bold;
  text-align: right
}

.return-policy-ar h4 {
  /* color: #697a7b; */
  /* font-size: 24px; */
  text-transform: capitalize;
  font-weight: bold;
  text-align: right
}

.return-policy-ar p {
  text-align: right
}

.estimated-delivery-ar h3 {
  /* color: #697a7b; */
  /* font-size: 24px; */
  text-transform: capitalize;
  font-weight: bold;
  text-align: right
}

.estimated-delivery-ar h4 {
  /* color: #697a7b; */
  /* font-size: 24px; */
  text-transform: capitalize;
  font-weight: bold;
  text-align: right
}

.estimated-delivery-ar p {
  text-align: right
}