.Terms h3 {
    /* color: #697a7b; */
    /* font-size: 24px; */
    text-transform: capitalize;
    font-weight: bold;
    text-align: left
}

.Terms h4 {
    /* color: #697a7b; */
    /* font-size: 24px; */
    text-transform: capitalize;
    font-weight: bold;
    text-align: left
}

.Terms h5 {
    /* color: #697a7b; */
    /* font-size: 24px; */
    text-transform: capitalize;
    font-weight: bold;
    text-align: left
}

.Terms p {
    text-align: left
}

.video-aboutUs {
    margin: auto;
}