.single-shop .carousel .thumb{
    width: 92px;
    height: 92px;
    border:1px solid #ecede7;
    padding: 0;
    display: inline-flex;
}

.carousel .thumb img {
    margin: auto;
    height: 100%;
    object-fit: contain;
}

.single-shop__name h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    line-height: 26px;
    text-transform: capitalize;
}

.carousel.carousel-slider{
    margin: -1px;
}

button.wishlist-btn.btn.btn-default {
    background: transparent;
    transition: 0.3s;
    color: #C44639;
}
button.wishlist-btn.btn.btn-default:hover {
    background: #C44639;
    color: white;
}
 .rc-input-number {
    border: 1px solid #d6dbe4;
    height: 50px;
    width: 50px;
    height: 100%;
  }
   
  
