
.section-title__holder{
    border-bottom: 1px solid #ecede7;
    height: 41px;
    margin-bottom: 28px;
}

.BestSeller .product-content h2 {
    margin: 0;
    margin-bottom: 3px;
    text-align: left;
    font-family: CoTextArabic;
    text-transform: capitalize;
}

