.cancellation-policy h3 {
    /* color: #697a7b; */
    /* font-size: 24px; */
    text-transform: capitalize;
    font-weight: bold;
    text-align: left
}

.cancellation-policy h4 {
    /* color: #697a7b; */
    /* font-size: 24px; */
    text-transform: capitalize;
    font-weight: bold;
    text-align: left
}

.cancellation-policy p {
    text-align: left
}
