.pro-item-vertical {
    height: 375px;
}
.pro-item-vertical img{
    padding: 0px 15px;
}
.pro-item-vertical .product-img {
    position: relative;
    overflow: hidden;
    height: 200px;
    display: flex;
    justify-content: center;
}

.product-wrapper:hover .product-img img {
    transform: scale(1.2);
}
.product-content h2 {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 16px;
    letter-spacing: normal;
    text-transform: capitalize;
    text-align: center;
    color: #2f2f33;
    height: 65px;
}
.pro-item-vertical .product-content {
    background: #fff;
    margin: 20px;
    padding: 15px;
    border-top: 1px solid #ecede7;
}

.product-content.style-1 {
    background: none;
}

.product-content h4 a {
    color: #76767e;
    font-size: 13px;
}

.product-content h4 a:hover {
    color: #ff3b2f;
    text-decoration: none;
}

.product-content.style-1 h4 a {
    color: #fff;
}

.product-content.style-1 h4 a:hover {
    color: #ff3b2f;
}

  
.pro-price span {
    font-size: 15px;
    font-family: CoTextArabic-Bold;
    color: #ffcb09;
  }